body{
  background: #ECF0F1;
}

.index-jumbotron{
  background: #fff;
  border-radius: 0 !important;
}

.my-btn{
  border-radius: 0;
  border: none;
  &.btn-primary{
    background: #5659C9;
    &:active{
      background: #5659C9;
    }
  }
  &.btn-success{
    background: #00B5B5;
    &:active{
      background: #00B5B5;
    }
  }
  &:hover{
    opacity: 0.9;
  }
}

.well{
  background-color: #fff !important;
  border: 2px solid #ccd3dc;
  border-radius: 0;
  padding: 30px;
  line-height: 2.5em;
}
